
[submodule "libraries/amazon/amazon-kinesis-video-streams-media-interface"]
	path = libraries/amazon/amazon-kinesis-video-streams-media-interface
	url = https://github.com/onceLabs/amazon-kinesis-video-streams-media-interface.git
	branch = patch/development
